<nav class="navbar fixed-top navbar-toggleable-md  navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="[brandMenu.path]">{{brandMenu.title}}</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" *ngFor="let menuItem of menuItems" routerLinkActive="active" [routerLink]="[menuItem.path]">{{menuItem.title}}</a>
    </div>
  </div>
</nav>
