<div class="card">
  <div class="card-block">
    <h4 class="card-title">Site</h4>
    <p class="card-text">
      Welcome on UFC INFO site.
      I used UFC API to get all news, events, fighters.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Used technologies:</h4>
    <div class="card-text">
      <ul>
        <li><i class="glyphicon glyphicon-ok"></i> AngularJs</li>
        <li><i class="glyphicon glyphicon-ok"></i> Bootstrap</li>
        <li><i class="glyphicon glyphicon-ok"></i> HTML5</li>
        <li><i class="glyphicon glyphicon-ok"></i> SASS</li>
      </ul>
    </div>
  </div>
</div>

<app-about></app-about>
<app-contact></app-contact>
