<div class="card">
  <div class="card-block">
    <h4 class="card-title">Some facts about me:</h4>
    <div class="card-text">
      <p>I'm a student in Polish Japanese Academy of Computers Techniques</p>
      <p>I used to train MMA for 2 years, but because of my injury I needed to stop.</p>
      <p>I still very like sports, so I train on gym 3-4 times a week, and when it's possible I watch MMA events in KSW, UFC, FEN.</p>
      <p>Where do I live? </p>
      <ngui-map center="Gdynia, Polska" zoom="11">

        <marker [position]="[54.560942, 18.489523]"></marker>
      </ngui-map>
    </div>
  </div>
</div>


